div
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='/') Yummy Noodle Bar
        .nav-collapse.collapse
          p.navbar-text.pull-right
          ul.nav
            li
              a(href='/') Home
            li
              a(href='/showBasket') Basket
        //
          /.nav-collapse
