div
  .well.sidebar-nav.span3
    ul.nav.nav-list
      li.nav-header Navigation could go here
      li
        a(href='http://www.gopivotal.com/') Pivotal, Inc
      li
        a(href='http://www.springsource.org/spring-xd') Spring XD
      li
        a(href='http://spring.io') Spring
